spring:
  mvc:
    log-request-details: true
management:
  endpoint:
    env:
      show-values: always
    configprops:
      show-values: always
    health:
      show-details: always
      show-components: always
  endpoints:
    web:
      exposure:
        include: '*'
  httpexchanges:
    recording:
      enabled: true

oppfolging:
  enabled: true

  no:
    nav:
      security:
        jwt:
          client:
            registration:
              entra-proxy:
                token-endpoint-url: ${azure.openid.config.token.endpoint}
                grant-type: client_credentials
                scope: ${proxy.scope}
                authentication:
                  client-id: ${azure.app.client.id}
                  client-jwk: ${azure.app.jwk}
                  client-auth-method: private_key_jwt

proxy:
  scope: "api://${nais.cluster.type}-gcp.sikkerhetstjenesten.entra-proxy/.default"
