management:
  endpoint:
    env:
      show-values: never
    configprops:
      show-values: never
    health:
      show-details: never
      show-components: never
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus