spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/default
          audiences: client id
      client:
        registration:
          onbehalfof:
            provider: azure
            client-id: client id
            authorization-grant-type: urn:ietf:params:oauth:grant-type:jwt-bearer
            scope: https://graph.microsoft.com/.default
        provider:
          azure:
            token-uri: https://login.microsoftonline.com/${AZURE_APP_TENANT_ID}/oauth2/v2.0/token
  cache:
    type: caffeine

microsoft:
    graph:
      url: https://graph.microsoft.com/v1.0
      scope: https://graph.microsoft.com/.default