spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/default/.well-known/openid-configuration
          audiences: client id
      client:
        registration:
          graph:
            client-id: ${azure.app.client.id:client-id}
            client-authentication-method: private_key_jwt
            authorization-grant-type: client_credentials
            scope: https://graph.microsoft.com/.default
        provider:
          graph:
            token-uri: https://login.microsoftonline.com/${AZURE_APP_TENANT_ID:tenant}/oauth2/v2.0/token
  cache:
    type: caffeine

microsoft:
    graph:
      url: https://graph.microsoft.com/v1.0
      scope: https://graph.microsoft.com/.default