management:
  endpoint:
    env:
      show-values: never
    configprops:
      show-values: never
    health:
      show-details: when_authorized
      show-components: when_authorized
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
oppfolging:
  enabled: false