<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout-appender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <appender name="secure-appender" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>team-logs.nais-system:5170</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>
                {"google_cloud_project":"${GOOGLE_CLOUD_PROJECT}","nais_namespace_name":"${NAIS_NAMESPACE}","nais_pod_name":"${HOSTNAME}","nais_container_name":"${NAIS_APP_NAME}"}
            </customFields>
            <includeContext>false</includeContext>
        </encoder>
    </appender>

    <springProfile name="dev">
        <logger name="no.nav.tilgangsmaskin" level="trace"/>
    </springProfile>

    <springProfile name="local | test">
        <appender name="stdout-appender" class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %X{Nav-CallId} [%thread] %-5level %logger{70} - %msg%n</Pattern>
            </layout>
        </appender>
        <appender name="secure-appender" class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %X{Nav-CallId} [%thread] %-5level %logger{70} - %msg%n</Pattern>
            </layout>
        </appender>
        <logger name="org.springframework.data.redis" level="trace"/>
        <logger name="no.nav.tilgangsmaskin" level="trace"/>
        <logger name="com.fasterxml.jackson.databind" level="trace"/>
        <logger name="com.fasterxml.jackson.core" level="trace"/>
        <logger name="io.lettuce" level="trace"/>

    </springProfile>

    <springProfile name="prod">
        <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
            <Name>CONFIDENTIAL_FILTER</Name>
            <Marker>CONFIDENTIAL</Marker>
            <OnMatch>DENY</OnMatch>
        </turboFilter>
        <logger name="no.nav.tilgangsmaskin" level="info"/>
    </springProfile>

    <logger name="secureLog" level="INFO" additivity="false">
        <appender-ref ref="secure-appender"/>
    </logger>
    <root level="info">
        <appender-ref ref="stdout-appender"/>
    </root>
</configuration>