<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <appender name="team-logs" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>team-logs.nais-system:5170</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>
                {"google_cloud_project":"${GOOGLE_CLOUD_PROJECT}","nais_namespace_name":"${NAIS_NAMESPACE}","nais_pod_name":"${HOSTNAME}","nais_container_name":"${NAIS_APP_NAME}"}
            </customFields>
            <includeContext>false</includeContext>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>TEAM_LOGS</marker>
            </evaluator>
            <OnMatch>ACCEPT</OnMatch>
            <OnMismatch>DENY</OnMismatch>
        </filter>
    </appender>

    <springProfile name="dev">
        <logger name="org.springframework.retry" level="trace"/>
        <logger name="org.apache.hc.client5.http.wire" level="info"/>
        <logger name="org.hibernate.SQL" level="debug"/>
        <logger name="org.hibernate.orm.jdbc.bind" level="trace"/>
        <logger name="no.nav.tilgangsmaskin" level="trace"/>
    </springProfile>
    
    <springProfile name="local | test">
        <appender name="stdout"
                  class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %X{Nav-CallId} [%thread] %-5level %logger{70} - %msg%n</Pattern>
            </layout>
        </appender>
        <appender name="team-logs"
                  class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %X{Nav-CallId} [%thread] %-5level %logger{70} - %msg%n</Pattern>
            </layout>
        </appender>
        <logger name="no.nav.tilgangsmaskin" level="trace"/>
        <logger name="org.hibernate.SQL" level="debug"/>
        <logger name="org.hibernate.orm.jdbc.bind" level="trace"/>
        <logger name="no.nav.security" level="trace"/>
    </springProfile>

    <springProfile name="prod">
        <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
            <Name>CONFIDENTIAL_FILTER</Name>
            <Marker>CONFIDENTIAL</Marker>
            <OnMatch>DENY</OnMatch>
        </turboFilter>
        <logger name="org.hibernate.SQL" level="info"/>
        <logger name="org.hibernate.orm.jdbc.bind" level="info"/>
    </springProfile>

    <logger name="team-logs-logger" level="INFO" additivity="false">
        <appender-ref ref="team-logs"/>
    </logger>
    <root level="info">
        <appender-ref ref="team-logs"/>
        <appender-ref ref="stdout"/>
    </root>
</configuration>