name: deploy vilkårlig branch

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to run workflow on'
        required: true
        default: 'sisteBoot3'

jobs:
  build:
    env:
      IMAGE: europe-north1-docker.pkg.dev/nais-management-233d/tilgangsmaskin/${{ github.event.repository.name }}
      BASE: europe-north1-docker.pkg.dev/cgr-nav/pull-through/nav.no/jre:openjdk-25
    name: build
    permissions:
      checks: write
      contents: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Sjekk ut koden
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch }}

      - name: Kjør et eksempelsteg
        run: echo "Workflow kjører på branch ${{ github.event.inputs.branch }}"
